.place {
    display: grid;
    grid-template-columns:  460px 484px;
    margin: 0 auto 80px;
    column-gap: 40px;
    row-gap: 48px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        column-gap: 32px;
        grid-template-columns: minmax(440px, 459px) minmax(456px, 483px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        column-gap: 28px;
        grid-template-columns: minmax(340px, 439px) minmax(352px, 455px);
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: minmax(320px, 439px);
        gap: 32px;
        margin-bottom: 50px;
    }
}