.footer {
    margin: 92px auto 24px;
    max-width: 1184px;
    min-height: 18px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        width: calc(100% - 96px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        width: calc(100% * 0.9375);
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 32px);
        margin: 64px auto 24px 16px;
        flex-direction: column;
    }
}